@font-face {
    font-family: 'social-icons';
    src: url('fonts/social-icons.eot?-t5h4ym');
    src: url('fonts/social-icons.eot?#iefix-t5h4ym') format('embedded-opentype'),
         url('fonts/social-icons.woff?-t5h4ym') format('woff'),
         url('fonts/social-icons.ttf?-t5h4ym') format('truetype'),
         url('fonts/social-icons.svg?-t5h4ym#social-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'social-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-square .icon-twitter:before {
    content: "\e600";
}
.ico-rounded .icon-twitter:before {
    content: "\e601";
}
.icon-twitter:before {
    content: "\e602";
}
.ico-circle .icon-twitter:before {
    content: "\e603";
}
.ico-simple .icon-twitter:before {
    content: "\e604";
}

.ico-square .icon-facebook:before {
    content: "\e605";
}
.ico-rounded .icon-facebook:before {
    content: "\e606";
}
.icon-facebook:before {
    content: "\e607";
}
.ico-circle .icon-facebook:before {
    content: "\e608";
}
.ico-simple .icon-facebook:before {
    content: "\e609";
}

.ico-square .icon-gplus:before {
    content: "\e60e";
}
.ico-rounded .icon-gplus:before {
    content: "\e60a";
}
.icon-gplus:before {
    content: "\e60b";
}
.ico-circle .icon-gplus:before {
    content: "\e60c";
}
.ico-simple .icon-gplus:before {
    content: "\e60d";
}

.ico-square .icon-pinterest:before {
    content: "\e60f";
}
.ico-rounded .icon-pinterest:before {
    content: "\e610";
}
.icon-pinterest:before {
    content: "\e611";
}
.ico-circle .icon-pinterest:before {
    content: "\e612";
}
.ico-simple .icon-pinterest:before {
    content: "\e613";
}

.ico-square .icon-linkedin:before {
    content: "\e614";
}
.ico-rounded .icon-linkedin:before {
    content: "\e615";
}
.icon-linkedin:before {
    content: "\e616";
}
.ico-circle .icon-linkedin:before {
    content: "\e617";
}
.ico-simple .icon-linkedin:before {
    content: "\e618";
}

.ico-square .icon-rss:before {
    content: "\e619";
}
.ico-rounded .icon-rss:before {
    content: "\e61a";
}
.icon-rss:before {
    content: "\e61b";
}
.ico-circle .icon-rss:before {
    content: "\e61c";
}
.ico-simple .icon-rss:before {
    content: "\e61d";
}

.ico-square .icon-youtube:before {
    content: "\e61e";
}
.ico-rounded .icon-youtube:before {
    content: "\e61f";
}
.icon-youtube:before {
    content: "\e620";
}
.ico-circle .icon-youtube:before {
    content: "\e621";
}
.ico-simple .icon-youtube:before {
    content: "\e622";
}

.ico-square .icon-vk:before {
    content: "\e623";
}
.ico-rounded .icon-vk:before {
    content: "\e624";
}
.icon-vk:before {
    content: "\e625";
}
.ico-circle .icon-vk:before {
    content: "\e626";
}
.ico-simple .icon-vk:before {
    content: "\e627";
}

.ico-square .icon-draugiem:before {
    content: "\e628";
}
.ico-rounded .icon-draugiem:before {
    content: "\e629";
}
.icon-draugiem:before {
    content: "\e62a";
}
.ico-circle .icon-draugiem:before {
    content: "\e62b";
}
.ico-simple .icon-draugiem:before {
    content: "\e62c";
}

.ico-square .icon-instagram:before {
    content: "\e62d";
}
.ico-rounded .icon-instagram:before {
    content: "\e62e";
}
.icon-instagram:before {
    content: "\e62f";
}
.ico-circle .icon-instagram:before {
    content: "\e630";
}
.ico-simple .icon-instagram:before {
    content: "\e631";
}
